
@{

}

<div class="text-right">
    <form method="post" >
        <div>
            <label>E-mail:</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label>Senha:</label>
            <input type="password" id="senha" name="senha">
        </div>
        <div>
            <input type="submit" id="botao" value="logar">
            <a asp-area="" asp-controller="Login" asp-action="Registro">Regitrar-se</a>
        </div>
    </form>
</div>